services:

  node:
    user: "node"
    env_file:
      - .env
    build:
      context: ./node
      dockerfile: ./node.Dockerfile
    volumes:
      - ./node/app.js:/home/node/app/app.js
      - ./node/src:/home/node/app/src
      - ./node/package.json:/home/node/app/package.json
    ports:
      - '3000:3000'